<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>User info</title>
        <link rel="stylesheet" href="{{ index .ui "ui.css" }}">
    </head>
    <body>
        <h1>
            {{- if .user.DisplayName.Valid -}}
            {{- .user.DisplayName.String -}}
            {{- else -}}
            {{- .user.Username.String -}}
            {{- end -}}
        </h1>
        <h2>
            {{- if .user.Headline.Valid -}}
            {{- .user.Headline.String -}}
            {{- end -}}
        </h2>
        <p>@{{ .user.Username.String }}</p>

        <script defer src="{{ index .ui "ui.js" }}"></script>
    </body>
</html>
