<h1>Account core settings</h1>

{{ if .changeEmail }}
<p>Verification email was sent to {{ .changeEmail }}</p>
{{ end }}
{{ if .invalidChangeEmailForm }}
<p>Invalid change email form</p>
{{ end }}

{{- if not .isUserEmailVerified }}
<p>Your email is not verified</p>
{{- else }}
    {{- if not .user.Username.Valid }}
    <p>Username is not defined, please choose first!</p>
    {{- end }}
{{- end }}

<p>ID: {{ .user.ID }}</p>
<p>Email: {{ .userEmail }}</p>
{{ if .user.Username.Valid }}
<p>Username: {{ .user.Username.String }}</p>
{{ end }}

<hr>
<h2>Change Email</h2>
<form method="post">
    <input type="email" name="email" placeholder="{{ .userEmail }}" required>
    <input type="hidden" name="{{ .csrfName }}" value="{{ .csrfToken }}">
    <input type="hidden" name="action" value="change_email">
    <input type="submit">
</form>
