<h1>Security</h1>

<h2>Change Password</h2>
{{ if .invalidPassword }}
<p>Invalid password.</p>
{{ end }}
{{ if .changedPassword }}
<p>Password was changed.</p>
{{ end }}
<form method="post">
    <input type="password" name="current_password" placeholder="Current Password" required>
    <input type="password" name="new_password" placeholder="New Password" minlength="8" required>
    <input type="hidden" name="action" value="change_password">
    <input type="hidden" name="{{ .csrfName }}" value="{{ .csrfToken }}">
    <input type="submit" value="Change Password">
</form>
<hr>
<h2>Session List</h2>
<table>
    <thead>
        <tr>
            <th>Time</th>
            <th>IP</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {{ $csrfToken := .csrfToken }}
        {{ $csrfName := .csrfName }}
        {{ $token := .currentToken -}}
        {{ range .tokenList -}}
            <tr>
                <td>{{ .CreatedAt }}</td>
                <td>
                    {{- if .IP.Valid -}}
                    <pre>{{- .IP.String -}}</pre>
                    {{- else -}}
                    <pre>Unknown</pre>
                    {{- end -}}
                </td>
                <td>
                    {{- if eq .Token $token }}
                    <p>Current Session</p>
                    {{ else }}
                    <form method="post">
                        <input type="hidden" name="id" value="{{ .ID }}">
                        <input type="hidden" name="action" value="revoke_session">
                        <input type="hidden" name="{{ $csrfName }}" value="{{ $csrfToken }}">
                        <input type="submit" value="Revoke session">
                    </form>
                    {{- end -}}
                </td>
            </tr>
        {{- end }}
    </tbody>
</table>
